# DS_Store
.DS_Store
*/.DS_Store

# scala 関連
*.class
*.idea/
*.log
target
metastore_db
derby.log
Test

# データファイル
*/*/*.csv
*/*/*/*.csv
*/*/*/*/*.html
*/data
*/resources

# python 関連
src/*/*/.ipynb_checkpoints
src/*/*/*.py~
